@import "tailwindcss";

body {
  @apply bg-deep-space text-gray-100;
}

/* Hide default cursor on desktop/mouse devices */
@media (pointer: fine) {

  body,
  a,
  button,
  input,
  select,
  textarea {
    cursor: none !important;
  }
}

/* 2. With custom gradient text class */
@layer utilities {
  .gradient-text {
    @apply bg-linear-to-r from-white via-gray-300 to-gray-500 bg-clip-text text-transparent;
  }
}